<head>
    <title>Zeronet Manual</title>
    <meta charset="utf-8">
    <link href="../base1/cockpit.css" type="text/css" rel="stylesheet">
    <link href="./assets/stylesheets/style.css" type="text/css" rel="stylesheet">
    <script src="../base1/cockpit.js"></script>
</head>
<body>
    <div class="container-fluid">
      $for(include-before)$
        $include-before$
      $endfor$
      <div class="col-md-6 main">
        $body$
      </div>
      $if(toc)$
      <div class="col-md-3 right-toc">
        <h3>Table of contents</h3>
        $toc$
      </div>
      $endif$
    </div>
</body>
</html>
